# 1. IMPORTS

In [2]:
#data_propbankbr lives within datasets
import sys
sys.path.append('../datasets/')


import pandas as pd 
from data_propbankbr import propbankbr_parser, propbankbr_argument_stats, propbankbr_split

In [3]:
# This dataframe has all multiple arguments on columns ARG0 ~ARG6
df = propbankbr_parser()
df.head()

,ID,S,P,P_S,FORM,LEMMA,GPOS,MORF,DTREE,FUNC,CTREE,PRED,ARG0,ARG1,ARG2,ARG3,ARG4,ARG5,ARG6
0,1,1,0,0,Brasília,Brasília,PROP,F|S,5,ADVL,(FCL(NP*),-,*,*,*,*,NaN,NaN,NaN
1,2,1,0,0,Pesquisa_Datafolha,Pesquisa_Datafolha,N,F|S,5,SUBJ,(NP*,-,(A0*,*,*,*,NaN,NaN,NaN
2,3,1,0,0,publicada,publicar,V-PCP,F|S,2,N<,(ICL(VP*),-,*,*,*,*,NaN,NaN,NaN
3,4,1,0,0,hoje,hoje,ADV,-,3,ADVL,(ADVP*))),-,*),*,*,*,NaN,NaN,NaN
4,5,1,1,1,revela,revelar,V-FIN,PR|3S|IND,0,STA,(VP*),revelar,(V*),*,*,*,NaN,NaN,NaN

 ### Normalization
Convert each record into a machine learning example i.e one argument per row
* Filter .: each ARG column
* Create .: tmp row holding the number of the argument ( for further ordering )
* Concatenate .: everybody afterwards

 #### 1.1 ARG0

In [38]:
columns_features= df.columns[:12]
df_feature= df.loc[:,columns_features].copy()

dataframes=[]
num_records=0
for i in range(7):
    col= 'ARG{:}'.format(i)
    df_target= df[col].dropna().to_frame()
    df_arg = df_feature.join(df_target, how='right')
    df_arg = df_arg.rename(index=str, columns={col: 'ARG'})
    df_arg['TMP']=i
    
    num_records+=df_arg.shape[0]
    print('{:}-\tnew records: {:}\ttotal records: {:}'.format(i, df_arg.shape[0],num_records))
    dataframes.append(df_arg)

#DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')
df_norm = pd.concat(dataframes,axis=0).sort_values(by=['S','P'],axis=1,kind='mergesort')    
df_norm.head()

0-	new records: 69760	total records: 69760
1-	new records: 42196	total records: 111956
2-	new records: 19346	total records: 131302
3-	new records: 7114	total records: 138416
4-	new records: 2357	total records: 140773
5-	new records: 717	total records: 141490
6-	new records: 240	total records: 141730

,ID,S,P,P_S,FORM,LEMMA,GPOS,MORF,DTREE,FUNC,CTREE,PRED,ARG,TMP
0,1,1,0,0,Brasília,Brasília,PROP,F|S,5,ADVL,(FCL(NP*),-,*,0
1,2,1,0,0,Pesquisa_Datafolha,Pesquisa_Datafolha,N,F|S,5,SUBJ,(NP*,-,(A0*,0
2,3,1,0,0,publicada,publicar,V-PCP,F|S,2,N<,(ICL(VP*),-,*,0
3,4,1,0,0,hoje,hoje,ADV,-,3,ADVL,(ADVP*))),-,*),0
4,5,1,1,1,revela,revelar,V-FIN,PR|3S|IND,0,STA,(VP*),revelar,(V*),0

In [25]:
num_records= max(df.index)+1
columns_index= df.columns

columns_features=columns_index[:12]
df_feature= df.loc[:,columns_features].copy()

df_target= df['ARG0'].dropna().to_frame()

df_arg1 = df_feature.join(df_target, how='right')

# df_arg0 = df.loc[:,columns_index[:13]].copy()
df_arg0 = df_arg0.rename(index=str, columns={"ARG0": "ARG"})
df_arg0['TMP']=0

print(df_arg0.shape)
df_arg0.head()

(69760, 14)

,ID,S,P,P_S,FORM,LEMMA,GPOS,MORF,DTREE,FUNC,CTREE,PRED,ARG,TMP
0,1,1,0,0,Brasília,Brasília,PROP,F|S,5,ADVL,(FCL(NP*),-,*,0
1,2,1,0,0,Pesquisa_Datafolha,Pesquisa_Datafolha,N,F|S,5,SUBJ,(NP*,-,(A0*,0
2,3,1,0,0,publicada,publicar,V-PCP,F|S,2,N<,(ICL(VP*),-,*,0
3,4,1,0,0,hoje,hoje,ADV,-,3,ADVL,(ADVP*))),-,*),0
4,5,1,1,1,revela,revelar,V-FIN,PR|3S|IND,0,STA,(VP*),revelar,(V*),0

 #### 1.2 ARG1

In [24]:
df_target= df['ARG1'].dropna().to_frame()

df_arg1 = df_feature.join(df_target, how='right')
df_arg1 = df_arg1.rename(index=str, columns={"ARG1": "ARG"})
df_arg1['TMP']=1

print(df_arg1.shape)
df_arg1.head()

(42196, 14)

,ID,S,P,P_S,FORM,LEMMA,GPOS,MORF,DTREE,FUNC,CTREE,PRED,ARG,TMP
0,1,1,0,0,Brasília,Brasília,PROP,F|S,5,ADVL,(FCL(NP*),-,*,1
1,2,1,0,0,Pesquisa_Datafolha,Pesquisa_Datafolha,N,F|S,5,SUBJ,(NP*,-,*,1
2,3,1,0,0,publicada,publicar,V-PCP,F|S,2,N<,(ICL(VP*),-,*,1
3,4,1,0,0,hoje,hoje,ADV,-,3,ADVL,(ADVP*))),-,*,1
4,5,1,1,1,revela,revelar,V-FIN,PR|3S|IND,0,STA,(VP*),revelar,*,1

In [26]:
df_target= df['ARG2'].dropna().to_frame()

df_arg2 = df_feature.join(df_target, how='right')
df_arg2 = df_arg2.rename(index=str, columns={"ARG2": "ARG"})
df_arg2['TMP']=2

print(df_arg2.shape)
df_arg2.head()

(19346, 14)

,ID,S,P,P_S,FORM,LEMMA,GPOS,MORF,DTREE,FUNC,CTREE,PRED,ARG,TMP
0,1,1,0,0,Brasília,Brasília,PROP,F|S,5,ADVL,(FCL(NP*),-,*,2
1,2,1,0,0,Pesquisa_Datafolha,Pesquisa_Datafolha,N,F|S,5,SUBJ,(NP*,-,*,2
2,3,1,0,0,publicada,publicar,V-PCP,F|S,2,N<,(ICL(VP*),-,*,2
3,4,1,0,0,hoje,hoje,ADV,-,3,ADVL,(ADVP*))),-,*,2
4,5,1,1,1,revela,revelar,V-FIN,PR|3S|IND,0,STA,(VP*),revelar,*,2

In [27]:
df_target= df['ARG3'].dropna().to_frame()

df_arg3 = df_feature.join(df_target, how='right')
df_arg3 = df_arg3.rename(index=str, columns={"ARG3": "ARG"})
df_arg3['TMP']=2

print(df_arg3.shape)
df_arg3.head()

(7114, 14)

,ID,S,P,P_S,FORM,LEMMA,GPOS,MORF,DTREE,FUNC,CTREE,PRED,ARG,TMP
0,1,1,0,0,Brasília,Brasília,PROP,F|S,5,ADVL,(FCL(NP*),-,*,2
1,2,1,0,0,Pesquisa_Datafolha,Pesquisa_Datafolha,N,F|S,5,SUBJ,(NP*,-,*,2
2,3,1,0,0,publicada,publicar,V-PCP,F|S,2,N<,(ICL(VP*),-,*,2
3,4,1,0,0,hoje,hoje,ADV,-,3,ADVL,(ADVP*))),-,*,2
4,5,1,1,1,revela,revelar,V-FIN,PR|3S|IND,0,STA,(VP*),revelar,*,2

In [29]:
df_target= df['ARG4'].dropna().to_frame()

df_arg4 = df_feature.join(df_target, how='right')
df_arg4 = df_arg4.rename(index=str, columns={"ARG4": "ARG"})
df_arg4['TMP']=4

print(df_arg4.shape)
df_arg4.head()

(2357, 14)

,ID,S,P,P_S,FORM,LEMMA,GPOS,MORF,DTREE,FUNC,CTREE,PRED,ARG,TMP
2073,1,102,174,0,Para,para,PRP,-,12,ADVL,(FCL(PP*,-,*,4
2074,2,102,175,1,fazer,fazer,V-INF,-,1,P<,(ICL(VP*),fazer,*,4
2075,3,102,175,1,uma,um,ART,F|S,5,>N,(NP*,-,*,4
2076,4,102,175,1,boa,bom,ADJ,F|S,5,>N,*,-,*,4
2077,5,102,175,1,compra,compra,N,F|S,2,ACC,*))),-,*,4